.login_image {
  width: 275px;
  height: 225px;
  margin-top: 5%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green !important;
}

/* .custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
} */
/* .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
} */
/* .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
} */

.checkboxStyle input:checked {
  background-color: #2196f3;
}

.contents {
  padding: 15% 0 0 10%;
}

.box_container {
  /* width: 60%; */
}
.box {
  height: 650px;
  width: 70%;

  padding: 10% 5% 10% 5%;

  margin-left: 20%;
}
input {
  background: none;
  margin-bottom: 1px solid black;
  width: 100%;
}

.left-side {
  width: 50%;
  float: left;
  padding-left: 7%;
  height: 100%;
  background: #278ef1;
  border-radius: 40px 0 0 40px;
}
.left-top {
  margin-top: 13%;
  color: white;
}

.left_bottom {
  margin-top: 6%;
  color: white;
}

.right-side {
  width: 50%;
  height: 100%;
  float: right;
  padding-right: 7%;
  background: white;
  border-radius: 0 40px 40px 0;
}

.log-form {
  padding: 3px 0;
}

.log-form form {
  color: #f2f8ff;
  background: #f2f8ff;
  padding: 20px;
}

.log-form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.log-form .form-group {
  margin-bottom: 20px;
}

.log-form .btn:hover,
.log-form .btn:focus {
  background: #436fb6;
}

.log-form .checkbox-inline {
  float: left;
}

.log-form input[type="checkbox"] {
  margin-top: 2px;
}

.log-form .forgot-link {
  float: right;
}

.log-form .small {
  font-size: 13px;
}

.backgroundGraySignIn {
  background-color: #b3b3b3;
  color: #ffffff;
  width: 50%;
}

.backgroundGraySignIn > .active {
  background-color: #b3b3b3;
}

.otptext {
  text-align: center;
  margin-bottom: 10%;
}

.registerotp-form form {
  color: #434343;
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-bottom: 90px;
}

.registerotp-form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.registerotp-form .form-group {
  margin-bottom: 20px;
}

​​​ .errorMsgCont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #ffd2d2;
  color: #d8000c;
  font-size: 18px;
  font-weight: 500;
}

​​​ .registerotp-form a {
  color: #436fb6;
}

.validCred {
  font-size: 13px;
  color: #d8000c;
}

.PhoneInput {
  border: 1px solid #ced4da;
  padding: 0px;
  padding-left: 10px;
  border-radius: 4px;
}
.log {
  background: #f2f8ff;
  height: 100vh;
}

.PhoneInputInput {
  border: none;
  padding-left: 3px;
}

.PhoneInputCountryIcon {
  color: #436fb6;
  width: 90%;
}

.inputPhone {
  pointer-events: none;
  opacity: 0.4;
}
