.device-info-style {
  width: 100%;
  height: auto;
  margin-top: 0%;

  border-radius: 10px;
  color: white;
  background: #278ef1;
}
.name-info-style {
  width: 100%;
  height: auto;

  border-radius: 10px;
}
.name-info-image {
  width: 15%;
  object-fit: contain;
  float: left;
}

.app-info-style {
  width: 100%;
  margin-top: 4%;
  height: auto;
  border-radius: 10px;
  color: black;
  background: white;
}
.app-info-sub > p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 7%;

  color: #278ef1;
}

.device-info-sub {
  padding: 1%;
  padding-top: 0.5%;
  padding-left: 7%;
}
.name-info-sub {
  padding: 1.5%;
}
.device-para-style {
  padding-top: 2%;
  font-size: 18px;
}

.app-info-sub {
}
.device-divider-style {
  color: white;
  margin-top: -2%;
  margin: 0px;

  height: 1px;
  border-width: 0;
}

.app-divider-style {
  color: rgb(238, 231, 231);
  margin-top: -2%;

  height: 1px;
  border-width: 0;
}

.app-info-image {
  width: 14%;

  object-fit: contain;
  float: left;
  margin-left: 5%;
}

.device-info-image {
  margin-top: 3%;
  width: 12%;

  object-fit: contain;
  float: left;
  border-radius: 19px;
}
.device-info-text {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  margin-top: 2%;
}
.name-info-text {
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2%;
  color: #278ef1;
}
